<footer class=" footer text-muted text-center" style="margin-top:200px">
    <div class="container">
        Copyright &copy; book store @DateTime.Now.Year;
        @* <a href="mailto:nat@gmail.com">nat@gmail.com</a>*@
        <custom-email-tag-helpers my-email="Nathan@gmail.com"></custom-email-tag-helpers>
    </div>
</footer>