<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img asp-append-version="true" width="30" height="30 " src="~/img/Bench-Maji-Zone-1.jpg" />
        <a class="navbar-brand"  asp-controller="Home" asp-action="index" >Book Store</a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav float-right">
                <li class="nav-item">

                    <button class="btn btn-outline-primary">Login</button>
                    <button class="btn btn-primary " type="submit">
                        Registor
                    </button>
                </li>
            </ul>
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item ">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="aboutus">About Us</a>
                </li>
                <li class="nav-item text-dark">
                    <a class="nav-link" asp-controller="Home" asp-action="contactus">Contact Us</a>
                </li>
                <li class="nav-item text-dark">
                    <a class="nav-link" asp-controller="Book" asp-action="getallbooks">All Books</a>
                </li>
                <li class="nav-item text-dark">
                    <a class="nav-link" asp-controller="Book" asp-action="addbook">Add Books</a>
                </li>



            </ul>




        </div>
    </nav>
</header>