@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <h1>Welcome to our BookStore</h1>
    <button>Click Me</button>
</body>
</html>