@{ 
    var book = ViewData["Book"] as BookModel;
}
@inject bookStore.Repository.IBookRepository _bookRepository

  
<section class="jumbotron text-center">
    <div class="container">
        Id = @book.Id<br/>
        Auther = @book.Auther<br />
        description =@book.Description
       
        <h1>Welcome to book Store @ViewBag.Title  
        <br /></h1>
        <p class="lead text-muted">
    
          
            what is going on this year? today is a new year and every body did not now what happpened in last year and what is going on and no
            body nows about the future
            what is going on this year? today is a new year and every body did not now what happpened in last year and what is going on and no
            body nows about the future
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search Book</a>
        </p>
    </div>

</section>
<div class="py-5 bg-light">
    <div class="container">
        <h3>Top Books</h3>
        @await Component.InvokeAsync("TopBooks", new {count=15})
        @*<vc:top-books count="9"></vc:top-books>*@
        
          </div>
</div>
@section scripts{
    }